footer
    .container
        .footer
            .footer-top
                .footer-top_left
                    .logo.footer-logo
                        a(href='javascript:void(0);') Unicorn
                    p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his
                    form.footer-form
                        .footer-form_line
                            input(placeholder='EMAIL')
                            input(placeholder='SUBJECT')
                        .footer-form_line
                            textarea(placeholder='MESSAGE')
                        button send
                .footer-top_right
                    .links-menu
                        h3 links
                        ul
                            li
                                a(href='javascript:void(0);') Home
                            li
                                a(href='javascript:void(0);') About
                            li
                                a(href='javascript:void(0);') Services
                            li
                                a(href='javascript:void(0);') Menu
                            li
                                a(href='javascript:void(0);') Restaurants
                            li
                                a(href='javascript:void(0);') Work Hours
                            li
                                a(href='javascript:void(0);') Call Hours
                    .friends-menu
                        h3 friends
                        ul
                            li
                                a(href='javascript:void(0);') Home
                            li
                                a(href='javascript:void(0);') About
                            li
                                a(href='javascript:void(0);') Services
                            li
                                a(href='javascript:void(0);') Menu
                            li
                                a(href='javascript:void(0);') Restaurants
                    .social-menu
                        h3 social
                        ul
                            li
                                a(href='javascript:void(0);') Facebook
                            li
                                a(href='javascript:void(0);') Twitter
                            li
                                a(href='javascript:void(0);') Github
                            li
                                a(href='javascript:void(0);') Pinterest
                            li
                                a(href='javascript:void(0);') Google Plus
                            li
                                a(href='javascript:void(0);') Dribble
                            li
                                a(href='javascript:void(0);') Flickr
                            li
                                a(href='javascript:void(0);') Others
            .footer-bottom
                .footer-copyright
                    p One morning, when Gregor Samsa woke from troubled dreams, he found
                    span © 2015 Your Awesome Company
                nav.footer-info
                    ul
                        li
                            a(href='javascript:void(0);') Terms
                        li
                            a(href='javascript:void(0);') Privacy Policy
                        li
                            a(href='javascript:void(0);') Contact
                        li
                            a(href='javascript:void(0);') Job
