header
    .header
        .container
            .header-menu
                .logo.header-logo
                    a(href='javascript:void(0);') Unicorn
                nav.header-nav
                    .header-nav_list
                        ul
                            li
                                a(href='javascript:void(0);') Home
                            li
                                a(href='javascript:void(0);') About
                            li
                                a(href='javascript:void(0);') Stories
                            li
                                a(href='javascript:void(0);') Hello
                        .header-nav_menu-button
                            span
                            span
                            span
            .storyteller
                .storyteller-inner
                    h1 storyteller
                    p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
                    a.btn(href='javascript:void(0);') read the rest